.sidenav {
  background-color: #252641;
  padding: 20px;
  height: 100%;
  width: 280px;
}
.sidenav img {
  width: 150px;
  height: 150px;
}

.sidenav h1 {
  margin: 10px 0;
}

.sidenav .nav-link {
  color: #fff;
}

.navlink {
  width: 220px;
}
.sidenav .navlink:hover {
  background-color: #49bbbd;
}

.sidenav .navlink.active {
  background-color: #49bbbd;
}

.sidenav .border-sky-400 {
  border-color: #49bbbd !important;
}

.userimage {
  width: 128px;
  height: 128px;
}

.updateicon {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 4px;
}

.updateicon:hover {
  background-color: #cccccc;
}
.name {
  color: #ffff;
}

.userimage {
  width: 128px;
  height: 128px;
}
.relative {
  position: relative;
}

.updateicon {
  position: absolute;
  top: 30px;
  right: 40px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.updateicon:hover {
  background-color: #cccccc;
}

.showIcon {
  display: block;
}

.hideIcon {
  display: none;
}
